*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #bbb;
  font-size: 2.6rem;
}

.app {
  height: 93vh;
  width: 90vw;
  margin: 2vh auto;
  background-color: #777;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  height: 3.5rem;
  width: 20rem;
  margin: 1rem;
  font-weight: 700;
  color: #555;
  background-image: linear-gradient(
    to left,
    rgba(springgreen, 0.8),
    rgba(green, 0.8)
  );
  border: none;
  border-radius: 3rem;
  outline: none;
  transition: 0.2s all;

  &:hover {
    cursor: pointer;
    transform: translateY(-0.5rem);
  }

  &:active {
    transform: translateY(-0.2rem);
  }
}
