*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #bbb;
  font-size: 2.6rem;
}

.app {
  height: 93vh;
  width: 90vw;
  margin: 2vh auto;
  background-color: #777;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story {
  padding: 3rem 6rem;

  &__pic,
  &__pic2 {
    height: 34rem;
    width: 34rem;
    float: right;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);

    // center img inside figure
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 84em) {
      height: 28rem;
      width: 28rem;
    }

    @media only screen and (max-width: 75em) {
      height: 24rem;
      width: 24rem;
    }
  }

  &__pic2 {
    float: left;
    transform: translateX(-1rem);
  }

  &__text {
    color: white;
    padding-left: 6rem;
  }
}

img {
  transform: translate(-3rem, -10rem);
}

.count {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__value {
    color: white;
    text-shadow: 1rem 2rem 5rem rgba(0, 0, 0, 0.9);
    padding-top: 1rem;
  }
}

.btn {
  padding: 2rem 4rem;
  border-radius: 0.3rem;
  outline: none;
  margin: 0.4rem;
  border: none;
  box-shadow: 1rem 2rem 5rem rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  transition: all 0.1s;

  &:hover {
    box-shadow: 0.8rem 1.8rem 3rem rgba(0, 0, 0, 0.8);
    transform: scale(1.02);
  }

  &:active {
    box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.8);
    transform: scale(0.98);
  }

  &--increment {
    background-color: rgba(0, 255, 128, 0.692);

    &:hover {
      background-color: rgba(0, 255, 128, 0.349);
      cursor: pointer;
    }

    &:active {
      background-color: springgreen;
      color: rgba(255, 0, 0, 0.877);
    }
  }

  &--decrement {
    background-color: rgba(255, 0, 0, 0.877);

    &:hover {
      background-color: rgba(255, 0, 0, 0.658);
    }

    &:active {
      background-color: red;

      color: rgba(0, 255, 128, 0.692);
    }
  }
}

.link {
  text-decoration: none;
  margin: 1rem;
}
